{# Load default settings #}
{% import_yaml 'ambari/defaults.yaml' as default_settings %}

{# Need some more precise version numbers for Debian packages #}
{% set version_mapping = salt['grains.filter_by']({

  'Debian': {
    '1.7.0': '1.7.0-169',
    '2.0.0': '2.0.0-151',
    '2.0.1': '2.0.1-45',
    '2.0.2': '2.0.2-25',
    '2.1': '2.1.0-1409',
    '2.1.2': '2.1.2-377',
    '2.1.2.1': '2.1.2.1-418'
  },

  'default': {
    '1.7.0': '1.7.0',
    '2.0.0': '2.0.0',
    '2.0.1': '2.0.1',
    '2.0.2': '2.0.2',
    '2.1': '2.1',
    '2.1.1': '2.1.1',
    '2.1.2': '2.1.2',
    '2.1.2.1': '2.1.2.1'
  }

}, default='default') %}

{# Load specific pillar and use defaults for non-overriden elements #}
{% set ambari = salt['pillar.get']('ambari', default=default_settings.ambari, merge=True ) %}
